---
import BaseLayout from '../layouts/BaseLayout.astro';
import {PERSONAL_INFO, SOCIAL} from '../consts';

---

<BaseLayout title="Alv Romell">
	<main transition:animate="slide" class="max-w-[40rem] m-auto fadeInUp-animation">
		<h1 class="text-3xl md:text-4xl font-medium mb-4">Hi!</h1>
		<p class="text-4xl md:text-5xl font-semibold text-left mb-6">My name is <br class="brNoDisplay"><span class="text-gradient">Alv Romell</span></p>
		<div class="relative md:text-base lg:text-xl text-slate-400 font-light">
			<p>
				I work as an IT-consultant at <a href="https://netcompany.com/" target="_blank" class="font-semibold text-gradient link-underline">Netcompany</a> in Copenhagen. 
			</p>
			<p class="mt-2">
				In my spare time, I like to take photos. Feel free to check out some of my pictures <a href="/photography" class="font-bold text-gradient link-underline">here</a>.
			</p>
		</div>
		<div class="flex gap-4 mt-16 font-normal">
			{SOCIAL.map(social => <a class="link-underline" href={social.href} target="_blank">{social.label}</a>)}
		</div>
	</main>
	<footer class="flex flex-col items-center relative text-sm text-slate-400 font-light mb-8 fadeIn-footer-animation">
		<p>© 2023 - Alv Romell</p>
		<p>Built with <a class="link-underline" href="https://astro.build/" target="_blank">Astro</a></p>
	</footer>
</BaseLayout>

<style>
	.text-gradient {
		background-color: rgb(var(--accent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.brNoDisplay {
		@media screen and (min-width: 780px) {
			display:none;
		}
	}
</style>
<style is:global>
	@keyframes fadeInUp {
		0% {
			transform: translateY(30%);
			opacity: 0;
		}
		100% {
			transform: translateY(0%);
			opacity: 1;
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.fadeInUp-animation {
		animation: 2.5s fadeInUp;
		animation-iteration-count: 1;
    	animation-fill-mode: forwards;
	}
	.fadeIn-footer-animation {
		animation: 4s fadeIn;
	}
	.fadeIn-image-animation {
		animation: 2s fadeIn;
	}
</style>