---
import {PERSONAL_INFO, ROUTES, SOCIAL} from '../consts';
---

<header class="flex top-0 justify-between w-full py-6 ">
    <nav>
        <a class="link-underline" href="/">HOME</a>
    </nav>
    <div class="social flex gap-2 md:gap-4">
        <a class="link-underline" href="https://www.instagram.com/alvsphotos/" target="_blank">INSTAGRAM</a>
        <a class="link-underline" href="">LINKEDIN</a>
        <a class="link-underline" href="mailto:alvromell@gmail.com">EMAIL</a>
    </div>
</header>
